<template>
  <div class="container">
    <ul class="draggable-list" ondragover={handleDragOver}>
      <template for:each={items} for:item="item">
        <li
          key={item.id}
          class="draggable-item"
          draggable="true"
          data-id={item.id}
          ondragstart={handleDragStart}
          ondragend={handleDragEnd}
        >
          {item.label}
        </li>
      </template>
    </ul>
  </div>
</template>
