<template>
  <div class="container">
    <ul class="draggable-list" ondragover={handleDragOver}>
      <template for:each={itemsWithPlaceholder} for:item="item">
        <li
          key={item.id}
          class={item.className}
          if:true={!item.isPlaceholder}
          draggable="true"
          data-id={item.id}
          ondragstart={handleDragStart}
          ondragend={handleDragEnd}
        >
          {item.label}
        </li>
        <li
          key="placeholder"
          class="placeholder"
          if:true={item.isPlaceholder}
        ></li>
      </template>
    </ul>
  </div>
</template>
